#cloud-config
hostname: docker-vm
manage_etc_hosts: true

package_update: true
package_upgrade: true

packages:
  - ca-certificates
  - curl
  - gnupg
  - lsb-release

runcmd:
  - curl -fsSL https://get.docker.com | sh
  - systemctl enable docker
  - usermod -aG docker ubuntu

users:
  - default
  - name: ubuntu
    groups: docker
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
