services:

  traefik:
    image: ghcr.io/traefik/traefik:3.6
    container_name: traefik
    restart: always
    environment:
      - LETS_ENCRYPT_EMAIL=${LETS_ENCRYPT_EMAIL}
      - --ping=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.web-secure.address=:443
      - --entrypoints.web.http.redirections.entryPoint.to=web-secure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.web.http.redirections.entrypoint.permanent=true
      - --certificatesresolvers.myresolver.acme.dnschallenge=${DNS_CHALLENGE:-true}
      - --certificatesresolvers.myresolver.acme.dnschallenge.provider=${DNS_CHALLENGE_PROVIDER:-cloudflare}
      - --certificatesresolvers.myresolver.acme.dnschallenge.resolvers=1.1.1.1:53,8.8.8.8:53
      - --certificatesresolvers.myresolver.acme.caserver=${LETS_ENCRYPT_CA_SERVER:-https://acme-v02.api.letsencrypt.org/directory}
      - --certificatesresolvers.myresolver.acme.email=${LETS_ENCRYPT_EMAIL}
      - --certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json
      - "traefik.http.routers.proxmox.rule=Host(`proxmox.home`)"

      # Proxmox settings - externally managed so they are hard coded here rather than dyanmic
      - "traefik.http.routers.proxmox.entrypoints=websecure"
      - "traefik.http.routers.proxmox.tls=true"

      - "traefik.http.services.proxmox.loadbalancer.server.url=https://192.168.51.225:8006"
      - "traefik.http.services.proxmox.loadbalancer.serverstransport=proxmox-transport"

      - "traefik.http.serverstransports.proxmox-transport.insecureskipverify=true"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - letsencrypt-data:/letsencrypt
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    extra_hosts:
      - host.docker.internal:172.17.0.1
    healthcheck:
      test: ["CMD", "traefik", "healthcheck", "--ping"]
      interval: 1m
      retries: 10

  code-fetch:
    container_name: code-fetch
    image: alpine/git:latest
    volumes:
      - /home/ciaran/git/:/git/:rw
      - 'pihole-data:/etc/pihole'
    environment:
      GIT_REPO: 'https://github.com/CiaranMcAndrew/homelab.git'
      GIT_BRANCH: 'main'
      SLEEP_INTERVAL: '300'
    entrypoint: ['/bin/sh', '-c']
    command: >
      "
        set -e;
        if [ ! -d /git/homelab/.git ]; then
          echo 'Cloning repository...';
          git clone --branch \"$$GIT_BRANCH\" \"$$GIT_REPO\" /git/homelab;
        fi;
        cd /git/homelab;
        while true; do
          echo 'Pulling latest changes...';
          git pull origin \"$$GIT_BRANCH\";

          echo 'Copying pihole configuration data...';

          # Base paths
          GIT_DIR="/git/homelab/applications/pihole/config"
          PIHOLE_DIR="/etc/pihole"

          # List of files (without .list extension)
          for list in custom adlists; do
              src=\"$$GIT_DIR/$$list.list\"
              dst=\"$$PIHOLE_DIR/$$list.list\"
              echo \"Copying $$src to $$dst\"

              # Check if the file exists in git repo
              if [ -f \"$$src\" ]; then
                  echo \"Copying $$src -> $$dst\"
                  cp -v \"$$src\" \"$$dst\"

                  # Ensure Pi-hole can read/write
                  chown 1000:1000 \"$$dst\"
                  chmod 644 \"$$dst\"
              else
                  echo \"Warning: $$src does not exist, skipping\"
              fi
          done


          echo 'Sleeping for $$SLEEP_INTERVAL seconds...';
          sleep $$SLEEP_INTERVAL;        
        done
        
      "
    healthcheck:
      test: ["CMD-SHELL", "test -d /git/homelab/.git"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
    restart: unless-stopped

  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    labels:
      - traefik.enable=true
      - traefik.http.routers.pihole.rule=lab
      - traefik.http.routers.pihole.tls=${USE_TLS:-true}
      - traefik.http.routers.pihole.tls.certresolver=${TLS_RESOLVER:-myresolver}
      - traefik.http.services.pihole.loadbalancer.server.port=8443
    environment:
      TZ: 'Europe/London'
      PIHOLE_DNS_: '1.1.1.1;1.0.0.1'
      DNSMASQ_LISTENING: 'all'
      FTLCONF_webserver_port: '8080o,[::]:8080o,8443os,[::]:8443os'
      
    network_mode: "host"
    volumes:
      - 'pihole-data:/etc/pihole'
      - ${GIT_DATA_DIR}/dnsmasq.d:/etc/dnsmasq.d
    cap_add:
      - NET_ADMIN
    depends_on:
      code-fetch:
        condition: service_healthy
    restart: unless-stopped
    dns:
      - 127.0.0.1
      - 1.1.1.1

volumes:
  git-data:
  pihole-data:
  letsencrypt-data:


networks:
  default:
    name: pihole_network