services:

  code-fetch:
    container_name: code-fetch
    image: alpine/git:latest
    volumes:
      - /home/ciaran/git/:/git/:rw
      - 'pihole-data:/etc/pihole'
    environment:
      GIT_REPO: 'https://github.com/CiaranMcAndrew/homelab.git'
      GIT_BRANCH: 'main'
      SLEEP_INTERVAL: '300'
    entrypoint: ['/bin/sh', '-c']
    command: >
      "
        set -e;
        if [ ! -d /git/homelab/.git ]; then
          echo 'Cloning repository...';
          git clone --branch \"$$GIT_BRANCH\" \"$$GIT_REPO\" /git/homelab;
        fi;
        cd /git/homelab;
        while true; do
          echo 'Pulling latest changes...';
          git pull origin \"$$GIT_BRANCH\";

          echo 'Copying pihole configuration data...';

          # Base paths
          GIT_DIR="/git/homelab/applications/pihole/config"
          PIHOLE_DIR="/etc/pihole"

          # List of files (without .list extension)
          for list in custom adlists; do
              src="$$GIT_DIR/$list.list"
              dst="$$PIHOLE_DIR/$list.list"

              # Check if the file exists in git repo
              if [ -f "$$src" ]; then
                  echo "Copying $$src -> $$dst"
                  cp -v "$$src" "$$dst"

                  # Ensure Pi-hole can read/write
                  # chown pihole:pihole "$$dst"
                  chmod 644 "$$dst"
              else
                  echo "Warning: $$src does not exist, skipping"
              fi
          done


          echo 'Sleeping for $$SLEEP_INTERVAL seconds...';
          sleep $$SLEEP_INTERVAL;        
        done
        
      "
    healthcheck:
      test: ["CMD-SHELL", "test -d /git/homelab/.git"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
    restart: unless-stopped

  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    environment:
      TZ: 'Europe/London'
      PIHOLE_DNS_: '1.1.1.1;1.0.0.1'
      DNSMASQ_LISTENING: 'all'
    network_mode: "host"
    volumes:
      - 'pihole-data:/etc/pihole'
      - ${GIT_DATA_DIR}/dnsmasq.d:/etc/dnsmasq.d
    cap_add:
      - NET_ADMIN
    depends_on:
      code-fetch:
        condition: service_healthy
    restart: unless-stopped
    dns:
      - 127.0.0.1
      - 1.1.1.1

volumes:
  git-data:
  pihole-data: