services:

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      HOMEPAGE_VAR_TITLE: "Home Lab"
      HOMEPAGE_VAR_SEARCH_PROVIDER: "google"
      HOMEPAGE_VAR_HEADER_STYLE: "boxed"
      HOMEPAGE_VAR_WEATHER_CITY: "Manchester"
      HOMEPAGE_VAR_WEATHER_LAT: "53.4808"
      HOMEPAGE_VAR_WEATHER_LONG: "-2.2426"
      HOMEPAGE_VAR_WEATHER_TIME: "Europe/London"
      HOMEPAGE_VAR_WEATHER_UNIT: "metric"
      HOMEPAGE_ALLOWED_HOSTS: "*"
    volumes:
      - homepage-data:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /mnt/media:/mnt/media:ro
    restart: always
    labels:
      traefik.enable: true
      traefik.http.routers.homepage.entrypoints: web
      traefik.http.routers.homepage.rule: Host(`home.lab`)
      traefik.http.services.homepage.loadbalancer.server.port: 3000
    networks:
      - traefik-network

  proxmox-dummy:
    image: gcr.io/google_containers/pause:latest
    container_name: proxmox_dummy
    labels:
      homepage.group: Infrastructure
      homepage.name: Proxmox
      homepage.icon: proxmox.png
      homepage.description: Virtualization host
      homepage.href: http://proxmox.lab
      homepage.weight: 0
      homepage.widget.type: proxmox
      homepage.widget.url: "https://192.168.51.225:8006"
      homepage.widget.username: ${PROXMOX_TOKEN_ID}
      homepage.widget.password: ${PROXMOX_TOKEN_SECRET}
      homepage.widget.node: lab
      homepage.widget.insecure: true

      traefik.enable: true
      traefik.http.routers.proxmox.rule: Host(`proxmox.lab`)
      traefik.http.routers.proxmox.entrypoints: websecure
      traefik.http.services.proxmox.loadbalancer.server.url: "https://192.168.51.225:8006"
      traefik.http.services.proxmox.loadbalancer.serverstransport: "internal-https"
    restart: unless-stopped
    networks:
      - traefik-network

  portainer-dummy:
    image: gcr.io/google_containers/pause:latest
    container_name: portainer_dummy
    labels:
      homepage.group: Infrastructure
      homepage.name: Portainer
      homepage.icon: portainer.png
      homepage.description: Container management interface
      homepage.href: http://portainer.lab
      homepage.weight: 0
      homepage.widget.type: portainer
      homepage.widget.url: "https://192.168.51.218:9443"
      homepage.widget.env: 3
      homepage.widget.key: ${PORTAINER_API_KEY}

      traefik.enable: true
      traefik.http.routers.portainer.rule: Host(`portainer.lab`)
      traefik.http.routers.portainer.entrypoints: websecure
      traefik.http.services.portainer.loadbalancer.server.url: "https://192.168.51.218:9443"
      traefik.http.services.portainer.loadbalancer.serverstransport: "internal-https"
    restart: unless-stopped
    networks:
      - traefik-network

  myspeed:
    image:  germannewsmaker/myspeed:latest
    container_name: myspeed
    environment:
      - TZ=Europe/London
    volumes:
      - myspeed-data:/data
    restart: always
    labels:
      traefik.enable: true
      traefik.http.routers.myspeed.entrypoints: web
      traefik.http.routers.myspeed.rule: Host(`myspeed.lab`)
      traefik.http.services.myspeed.loadbalancer.server.port: 5216
      homepage.group: Network
      homepage.name: My Speed
      homepage.icon: myspeed.png
      homepage.description: Internet speed monitor
      homepage.href: http://myspeed.lab
      homepage.weight: 0
      homepage.widget.type: myspeed
      homepage.widget.url: http://myspeed.lab
    networks:
      - traefik-network


  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser
    volumes:
      - filebrowser-config:/config
      - filebrowser-database:/database
      - /media:/srv/media
      - /downloads:/srv/downloads
    command:
      - --config
      - /config/settings.json
    networks:
      - traefik-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.filebrowser.rule=Host(`files.lab`)"
      - "traefik.http.routers.filebrowser.entrypoints=web"
      - "traefik.http.services.filebrowser.loadbalancer.server.port=80"

      - "homepage.group=Media"
      - "homepage.name=FileBrowser"
      - "homepage.icon=filebrowser.png"
      - "homepage.description=File manager"
      - "homepage.href=http://files.lab"
      - "homepage.weight=5"
    restart: unless-stopped


volumes:
  git-data:
    external: true
  homepage-data:
    name: homepage-data
  myspeed-data:
    name: myspeed-data
  filebrowser-config:
  filebrowser-database:

networks:
  traefik-network:
    external: true