services:

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      - HOMEPAGE_VAR_TITLE="Home Lab"
      - HOMEPAGE_VAR_SEARCH_PROVIDER="google"
      - HOMEPAGE_VAR_HEADER_STYLE=boxed
      - HOMEPAGE_VAR_WEATHER_CITY="Manchester"
      - HOMEPAGE_VAR_WEATHER_LAT="53.4808"
      - HOMEPAGE_VAR_WEATHER_LONG="-2.2426"
      - HOMEPAGE_VAR_WEATHER_TIME="Europe/London"
      - HOMEPAGE_VAR_WEATHER_UNIT=metric
    volumes:
      - homepage-data:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: always
    labels:
      traefik.enable: true
      traefik.http.routers.homepage.entrypoints: web
      traefik.http.routers.homepage.rule: Host(`home.lab`)
      traefik.http.services.homepage.loadbalancer.server.port: 3000
    networks:
      - traefik-network

# proxmox-dummy:
  #   image: gcr.io/google_containers/pause:latest
  #   container_name: proxmox_dummy
  #   labels:
  #     homepage.group: Network
  #     homepage.name: Proxmox
  #     homepage.icon: proxmox.png
  #     homepage.description: Virtualization host
  #     homepage.href: http://proxmox.lab
  #     homepage.weight: 0
  #     homepage.widget.type: proxmox
  #     homepage.widget.url: http://proxmox.lab

  #     traefik.enable: true
  #     traefik.http.routers.proxmox.rule: Host(`proxmox.lab`)
  #     traefik.http.routers.proxmox.entrypoints: web
  #     traefik.http.services.proxmox.loadbalancer.server.url: "https://192.168.51.225:8006"
  #     traefik.http.services.proxmox.loadbalancer.serverstransport: "internal-https"

  #   restart: unless-stopped

  # portainer-dummy:
  #   image: gcr.io/google_containers/pause:latest
  #   container_name: portainer_dummy
  #   labels:
  #     homepage.group: Network
  #     homepage.name: Portainer
  #     homepage.icon: portainer.png
  #     homepage.description: Container management interface
  #     homepage.href: http://portainer.lab
  #     homepage.weight: 0
  #     homepage.widget.type: portainer
  #     homepage.widget.url: http://portainer.lab
  #     homepage.widget.env: 1
  #     homepage.widget.key: mykey

  #     traefik.enable: true
  #     traefik.http.routers.portainer.rule: Host(`portainer.lab`)
  #     traefik.http.routers.portainer.entrypoints: web
  #     traefik.http.services.portainer.loadbalancer.server.url: "https://192.168.51.218:9443"
  #     traefik.http.services.portainer.loadbalancer.serverstransport: "internal-https"
  #   restart: unless-stopped

volumes:
  git-data:
    external: true
  homepage-data:
    name: homepage-data

networks:
  traefik-network:
    external: true