services:
  terraform-job:
    build:
      context: ../agent
      dockerfile: Dockerfile
    restart: no
    container_name: homelab_agent
    network_mode: host
    volumes:
      - ../terraform:/terraform:ro
      - ../.env:/.env:ro
      - ~/.ssh/id_rsa:/root/.ssh/id_rsa:ro
      - /etc/resolv.conf:/etc/resolv.conf:ro
    working_dir: /terraform
    env_file: ../.env
    environment:
      - PLAYBOOK=playbook.yml
