volumes:
  etc_wireguard:

services:
  wireguard:
    image: ghcr.io/wg-easy/wg-easy:15
    container_name: wg-easy
    restart: unless-stopped
    environment:
      - INIT_ENABLED=true
      - INIT_USERNAME=Ciaran
      - INIT_PASSWORD=${WIREGUARD_PASSWORD}
      - INIT_HOST=wireguard.lab
      - INIT_PORT=51821
      - INSECURE=true
    labels:
      homepage.group: Network
      homepage.name: wireguard
      homepage.icon: wireguard.png
      homepage.description: VPN Server
      homepage.href: http://wireguard.lab
      homepage.weight: 0
      homepage.widget.type: wgeasy
      homepage.widget.url: http://wireguard.lab
      homepage.widget.version: 2
      homepage.widget.password: ${WIREGUARD_PASSWORD}
      traefik.enable: true
      traefik.http.routers.wireguard.rule: Host(`wireguard.lab`)
      traefik.http.routers.wireguard.entrypoints: web
      traefik.http.services.wireguard.loadbalancer.server.port: 51821
    networks:
      wg:
        ipv4_address: 10.42.42.42
        ipv6_address: fdcc:ad94:bacf:61a3::2a
      traefik-network: {}
    volumes:
      - etc_wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
      # - NET_RAW # ⚠️ Uncomment if using Podman
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    labels:
      homepage.group: Network
      homepage.name: qBittorrent
      homepage.icon: qbittorrent.png
      homepage.description: Torrent client
      homepage.href: http://qbittorrent.lab
      homepage.weight: 1
      homepage.widget.type: qbittorrent
      homepage.widget.url: http://qbittorrent.lab
      homepage.widget.username: "admin"
      homepage.widget.password: "${QBITTORRENT_PASSWORD}"
      traefik.enable: true
      traefik.http.routers.qBittorrent.rule: Host(`qBittorrent.lab`)
      traefik.http.routers.qBittorrent.entrypoints: web
      traefik.http.services.qBittorrent.loadbalancer.server.port: 8080
    volumes:
      - /path/to/qbittorrent/appdata:/config
      - /path/to/downloads:/downloads #optional
    ports:
      - 8085:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
    networks:
      traefik-network: {}
      wg: 
        ipv4_address: 10.42.42.1

networks:
  traefik-network:
    external: true
  wg:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64