services:

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    labels:
      homepage.group: Media
      homepage.name: jellyfin
      homepage.icon: jellyfin.png
      homepage.description: Media server
      homepage.href: https://jellyfin.lab
      homepage.weight: 0
      homepage.widget.type: jellyfin
      homepage.widget.url: https://jellyfin.lab

      traefik.enable=true
      traefik.http.routers.jellyfin.rule=: Host(`jellyfin.lab`)
      traefik.http.routers.jellyfin.entrypoints: web
      traefik.http.routers.jellyfin.tls: true
      traefik.http.routers.jellyfin.tls.certresolver: myresolver
      traefik.http.services.jellyfin.loadbalancer.server.url: https://192.168.51.218:8096
    ports:
      - "7359:7359/udp"
      - "1900:1900/udp"