services:

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    labels:
      homepage.group: Media
      homepage.name: jellyfin
      homepage.icon: jellyfin.png
      homepage.description: Media server
      homepage.href: http://jellyfin.lab
      homepage.weight: 0
      homepage.widget.type: jellyfin
      homepage.widget.url: http://jellyfin.lab
      homepage.widget.key: ${JELLYFIN_API_KEY}
      homepage.widget.enableBlocks: true

      traefik.enable: true
      traefik.http.routers.jellyfin.rule: Host(`jellyfin.lab`)
      traefik.http.routers.jellyfin.entrypoints: web
      traefik.http.services.jellyfin.loadbalancer.server.url: http://jellyfin:8096
    networks:
      - traefik-network
    ports:
      - "7359:7359/udp"
      - "1900:1900/udp"
    volumes:
      - jellyfin-config:/config
      - jellyfin-data:/data
      - /media:/media
    env_file:
      - /opt/homelab/.env

  jellyseerr:
    image: ghcr.io/fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=${TIMEZONE}
    volumes:
      - jellyseerr-config:/app/config
    restart: always
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "http://127.0.0.1:5055/api/v1/status",
          "-qO",
          "/dev/null",
        ]
      interval: 1m
      retries: 10
    networks:
      - traefik-network
    labels:
      traefik.enable: true
      traefik.http.routers.jellyseerr.rule: Host(`jellyseerr.lab`)
      traefik.http.services.jellyseerr.loadbalancer.server.port: 5055
      homepage.group: Media
      homepage.name: JellySeerr
      homepage.icon: jellyseerr.png
      homepage.href=: http://jellyseerr.lab
      homepage.description: Content Recommendations and Request Management
      homepage.weight: 3
      homepage.widget.type: jellyseerr
      homepage.widget.url: http://jellyseerr:5055
      homepage.widget.key: ${JELLYSEERR_API_KEY}
  
  sonarr:
    image: lscr.io/linuxserver/sonarr
    container_name: sonarr
    environment:
      PUID: 1000
      PGID: 1000
      TZ: ${TIMEZONE}
    volumes:
      - sonarr-config:/config
      - sonarr-data:/data
      - /media/tv:/media/tv:rw
    restart: always
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://127.0.0.1:8989/ping"]
      interval: 1m
      retries: 10
    labels:
      traefik.enable: true
      traefik.http.routers.sonarr.rule: Host(`sonarr.lab`)
      traefik.http.routers.sonarr.entrypoints: web
      traefik.http.services.sonarr.loadbalancer.server.port: 8989
      homepage.group: Indexers
      homepage.name: Sonarr
      homepage.icon: sonarr.png
      homepage.href: http://sonarr.lab
      homepage.description: Series management
      homepage.weight: 0
      homepage.widget.type: sonarr
      homepage.widget.url: http://sonarr.lab
      homepage.widget.key: ${SONARR_API_KEY}
    networks:
      - traefik-network
    dns:
      - 9.9.9.10      # Quad9 unfiltered
      - 8.8.8.8       # Google

  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    environment:
      PUID: 1000
      PGID: 1000
      TZ: ${TIMEZONE}
    volumes:
      - radarr-config:/config
      - radarr-data:/data
      - /media/movies:/media/movies:rw
    restart: always
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://127.0.0.1:7878/ping"]
      interval: 1m
      retries: 10
    labels:
      traefik.enable: true
      traefik.http.routers.radarr.rule: Host(`radarr.lab`)
      traefik.http.routers.radarr.entrypoints: web
      traefik.http.services.radarr.loadbalancer.server.port: 7878
      homepage.group: Indexers
      homepage.name: Radarr
      homepage.icon: radarr.png
      homepage.href: http://radarr.lab
      homepage.description: Movies management
      homepage.weight: 1
      homepage.widget.type: radarr
      homepage.widget.url: http://radarr.lab
      homepage.widget.key: ${RADARR_API_KEY}
    networks:
      - traefik-network
    dns:
      - 9.9.9.10      # Quad9 unfiltered
      - 8.8.8.8       # Google

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=100
      - TZ=${TIMEZONE}
    volumes:
      - prowlarr-config:/config
    restart: always
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://127.0.0.1:9696/ping"]
      interval: 1m
      retries: 10
    labels:
      traefik.enable: true
      traefik.http.routers.prowlarr.rule: Host(`prowlarr.lab`)
      traefik.http.services.prowlarr.loadbalancer.server.port: 9696
      homepage.group: Indexers
      homepage.name: Prowlarr
      homepage.icon: prowlarr.png
      homepage.href: http://prowlarr.lab
      homepage.description: Indexers management
      homepage.weight: 1
      homepage.widget.type: prowlarr
      homepage.widget.url: http://prowlarr.lab
      homepage.widget.key: ${PROWLARR_API_KEY}
    networks:
      - traefik-network
    dns:
      - 9.9.9.10      # Quad9 unfiltered
      - 8.8.8.8       # Google

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${FLARESOLVERR_LOG_LEVEL:-info}
      - LOG_HTML=${FLARESOLVERR_LOG_HTML:-false}
      - CAPTCHA_SOLVER=${FLARESOLVERR_CAPTCHA_SOLVER:-none}
      - TZ=${TZ:-Etc/UTC}
    ports:
      - "8191:8191"
    networks:
      - traefik-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.flaresolverr.rule=Host(`flaresolverr.lab`)"
      - "traefik.http.routers.flaresolverr.entrypoints=web"
      - "traefik.http.services.flaresolverr.loadbalancer.server.port=8191"
      
      - "homepage.group=Indexers"
      - "homepage.name=FlareSolverr"
      - "homepage.icon=flaresolverr.png"
      - "homepage.description=CloudFlare bypass"
      - "homepage.href=http://flaresolverr.lab"
    restart: unless-stopped

networks:
  traefik-network:
    external: true

volumes:
  jellyfin-config:
  jellyfin-data:
    external: true
  jellyseerr-config:
  sonarr-config:
  sonarr-data:
  radarr-config:
  radarr-data:
  prowlarr-config:
  prowlarr-data: