services:

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    labels:
      homepage.group: Media
      homepage.name: jellyfin
      homepage.icon: jellyfin.png
      homepage.description: Media server
      homepage.href: http://jellyfin.lab
      homepage.weight: 0
      homepage.widget.type: jellyfin
      homepage.widget.url: http://jellyfin.lab

      traefik.enable: true
      traefik.http.routers.jellyfin.rule: Host(`jellyfin.lab`)
      traefik.http.routers.jellyfin.entrypoints: web
      # traefik.http.routers.jellyfin.tls: true
      # traefik.http.routers.jellyfin.tls.certresolver: myresolver
      traefik.http.services.jellyfin.loadbalancer.server.url: http://jellyfin:8096
    networks:
      - traefik-network
    ports:
      - "7359:7359/udp"
      - "1900:1900/udp"
    volumes:
      - jellyfin-data:/data
networks:
  traefik-network:
    external: true

volumes:
  jellyfin-data:
    external: true