---
- name: Transfer secrets to remote
  hosts: "{{ hosts | default('docker_hosts') }}"
  become: yes
  
  vars:
    homelab_dir: /opt/homelab

  tasks:
    - name: Create Homelab directory
      file:
        path: "{{ homelab_dir }}"
        state: directory
        mode: '0600'
        owner: root
        group: root
    
    - name: Copy .env file to remote
      copy:
        src: /.env
        dest: "{{ homelab_dir }}/.env"
        mode: '0600'
    