services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
      - DOCKER_MODS=ghcr.io/gabe565/linuxserver-mod-vuetorrent
      - QBIT_INTERFACE=${QBITTORRENT_NETWORK_INTERFACE:-eth0}
    labels:
      homepage.group: Network
      homepage.name: qBittorrent
      homepage.icon: qbittorrent.png
      homepage.description: Torrent client
      homepage.href: http://qbittorrent.lab
      homepage.weight: 1
      homepage.widget.type: qbittorrent
      homepage.widget.url: http://qbittorrent:8080
      homepage.widget.username: "admin"
      homepage.widget.password: "${QBITTORRENT_PASSWORD}"
      traefik.enable: true
      traefik.http.routers.qbittorrent.rule: Host(`qbittorrent.lab`)
      traefik.http.routers.qbittorrent.entrypoints: web
      traefik.http.services.qbittorrent.loadbalancer.server.port: 8080
    volumes:
      - qbittorrent-config:/config
      - qbittorrent-downloads:/downloads #optional
    ports:
      - 8085:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
    networks:
      traefik-network: {}
      wg: {}

networks:
  traefik-network:
    external: true
  wg:
    external: true

volumes:
  qbittorrent-config:
  qbittorrent-downloads: